<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="music, song, track, price, bpm, supreme, bpm supreme, beatport">
    <meta name="author" content="hehe">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="shortcut icon" href="/static/image/prdk.png" />

    <title>PRDK</title>
</head>
<body>
    <!-- Header sekce -->
    <header>
        <div class="logo">
            <a href="/"><img src="/static/image/prdk.png" ></a>
        </div>
        <div class="navigation">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/merch">Merch</a></li>
                    <li><a href="/other">DUB Packs</a></li>
                    <li><a href="https://www.patreon.com/prdkmusic" target="_blank" rel="noopener noreferrer">Patreon</a></li>
                    <li class="cart-icon">
                        <a href="/cart"><img src="{{ url_for('static', filename='image/cart.png') }}" alt="cart"></a>
                        <span id="cart-count">0</span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Hlavní obsah stránky -->
    <main class="parent-container">
        <div class="content">
          <div class="soc">
            <div class="video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/TqqKfD4EOec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <ul>
              <li><a href="https://www.instagram.com/prdkmusic/"><img src="{{ url_for('static', filename='image/ig.png') }}" alt="Instagram"></a></li>
              <li><a href="https://www.facebook.com/prdkofficial"><img src="{{ url_for('static', filename='image/fb.png') }}" alt="Facebook"></a></li>
              <li><a href="https://open.spotify.com/artist/5zW02WwDZURs6ZjZark0Xu/"><img src="{{ url_for('static', filename='image/spotify.png') }}" alt="Spotify"></a></li>
              <li><a href="https://soundcloud.com/prdkdnb"><img src="{{ url_for('static', filename='image/sc.png') }}" alt="Soundcloud"></a></li>
            </ul>
          </div>
        </div>
      </main>

    <!-- JavaScript pro interaktivitu a AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // Funkce pro přidání položky do košíku pomocí AJAX
        function addToCart(button) {
            var form = button.closest('form');
            var itemId = form.querySelector('[name="itemId"]').value;
            
            $.ajax({
                type: 'POST',
                url: '/add_to_cart',
                data: { itemId: itemId },
                success: function(response) {
                    if (response.success) {
                        alert('Item added to cart successfully!');
                        updateCartCount();
                    } 
                },
                error: function() {
                    alert('Error occurred while adding item to cart.');
                }
            });
        }

        // Funkce pro aktualizaci počtu položek v košíku
        function updateCartCount() {
        $.ajax({
            type: 'GET',
            url: '/get_cart_count',
            success: function(response) {
                $('#cart-count').text(response.count); // Použijeme response.count
            },
            error: function() {
                alert('Chyba při aktualizaci počtu položek v košíku.');
            }
        });
    }

        function updateQuantity(itemId, quantity) {
        $.ajax({
            type: 'POST',
            url: '/update_cart_item_quantity',
            data: { itemId: itemId, quantity: quantity },
            success: function(response) {
                if (response.success) {
                    updateCartCount(); // Aktualizace počtu položek v košíku
                    location.reload();
                } else {
                    alert('Nepodařilo se aktualizovat množství položky.');
                }
            },
            error: function() {
                alert('Chyba při aktualizaci množství položky.');
            }
        });
    }

        // Aktualizace počtu položek v košíku při načtení stránky
        $(document).ready(function() {
            updateCartCount();
        });
    </script>

    <!-- Patička stránky -->
    <footer>
        <div class="footer">Created by &copy; hehe</div>
    </footer>
</body>
</html>
